.header {
  margin-top: var(--spacing-2x);
  margin-bottom: var(--spacing-2x);
}

@media (max-width: 480px) {
  .header {
    margin-top: var(--spacing-4x);
  }
}

.number {
  display: block;
  margin: var(--spacing-base) 0 var(--spacing-2x) var(--spacing-base);
}

.checklist {
  list-style: none;
  background-color: #ffffff;
  border-radius: var(--spacing-2x);
  padding-left: 0;
  margin-bottom: 0;
}

.checklist li {
  padding: var(--spacing-5x);
  border-top: 1px solid var(--color-gray-10);
  margin-bottom: 0;
}

.checklist li a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .checklist li {
    padding: var(--spacing-4x);
  }
}

@media (max-width: 480px) {
  .checklist li {
    padding: var(--spacing-3x);
  }
}

.checklist li:before {
  content: none;
}

.checklist li:first-child {
  border-top: none;
}
