.card {
  flex-basis: 48%;
  margin-top: var(--spacing-3x);
  padding: var(--spacing-5x);
  background-color: var(--color-white);
  border-radius: 24px;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 900px) {
  .card {
    flex-basis: 100%;
  }
}

.card span {
  display: inline-block;
  margin-right: var(--spacing-3x);
  font-size: 2rem;
  margin-right: var(--spacing-2x);
}

@media (max-width: 460px) {
  .card span {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .card span {
    display: block;
    margin-bottom: var(--spacing-mini);
  }
}

.arrow {
  fill: var(--color-black);
  width: 22px;
  margin-left: 16px;
}

/*  Color 1  */

.color1 {
  background-color: var(--color-card1);
}

.color1 .arrow {
  fill: var(--color-card1-dark);
}

a.color1:link,
a.color1:visited {
  color: var(--color-card1-dark);
}

a.color1:hover,
a.color1:active {
  background-color: var(--color-card1-hover);
}

/*  Color 2  */

.color2 {
  background-color: var(--color-card2);
}

.color2 .arrow {
  fill: var(--color-card2-dark);
}

a.color2:link,
a.color2:visited {
  color: var(--color-card2-dark);
}

a.color2:hover,
a.color2:active {
  background-color: var(--color-card2-hover);
}

/*  Color 3  */

.color3 {
  background-color: var(--color-card3);
}

.color3 .arrow {
  fill: var(--color-card3-dark);
}

a.color3:link,
a.color3:visited {
  color: var(--color-card3-dark);
}

a.color3:hover,
a.color3:active {
  background-color: var(--color-card3-hover);
}

/*  Color 4  */

.color4 {
  background-color: var(--color-card4);
}

.color4 .arrow {
  fill: var(--color-card4-dark);
}

a.color4:link,
a.color4:visited {
  color: var(--color-card4-dark);
}

a.color4:hover,
a.color4:active {
  background-color: var(--color-card4-hover);
}

/*  Color 5  */

.color5 {
  background-color: var(--color-card5);
}

a.color5:link,
a.color5:visited {
  color: var(--color-card5-dark);
}

.color5 .arrow {
  fill: var(--color-card5-dark);
}

a.color5:hover,
a.color5:active {
  background-color: var(--color-card5-hover);
}
