.card {
  background-color: var(--color-primary-10);
  border-radius: var(--spacing-4x);
  margin-bottom: var(--spacing-3x);
  padding: var(--spacing-3x);
  display: flex;
}

/* @media (max-width: 768px) {
  .card {
    margin-bottom: 0;
    min-width: 130px;
  }

  .card:first-child {
    margin-right: var(--spacing-3x);
  }
}

@media (max-width: 480px) {
  .card {
    margin-bottom: var(--spacing-2x);
    max-width: 100%;
  }
} */

.card legend {
  font-weight: 700;
  font-size: 1.2rem;
  float: left;
  padding: var(--spacing-base) var(--spacing-3x) var(--spacing-base) var(--spacing-base);
  /* width: 100%; */
  /* margin-bottom: var(--spacing-2x); */
}
