.tagButton {
  font-size: 0.9rem;
  display: inline-block;
  border-radius: var(--spacing-base);
  padding: var(--spacing-mini) var(--spacing-base);
  background-color: var(--color-gray-10);
  color: var(--color-black);
}

.tagColor {
  background-color: var(--color-card1);
}

.roleColor {
  background-color: var(--color-card4);
}

.reqColor {
  background-color: var(--color-gray-10);
}
