.mainHeader {
  padding: var(--spacing-2x);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainHeader a {
  line-height: 0;
  margin: 0 var(--spacing-base) 0 0;
}

.mainHeader img {
  max-width: 120px;
}

.mainHeader span {
  font-size: 1.2rem;
  margin-left: var(--spacing-base);
}
