.article {
  background-color: var(--color-white);
  padding: var(--spacing-6x);
  border-radius: var(--spacing-4x);
}

.header {
  margin-bottom: var(--spacing-3x);
}

.tagGroup {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tagGroup li {
  margin: 0 var(--spacing-2x) var(--spacing-base) 0;
}

.tagGroup li:before {
  content: none;
}

.backToList {
  margin: 3rem 0 0;
}
