.card {
  background-color: var(--color-primary-10);
  padding: var(--spacing-5x);
  border-radius: var(--spacing-4x);
  margin: 0;
  margin-bottom: var(--spacing-2x);
}

.card:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 0;
    min-width: 130px;
  }

  .card:first-child {
    margin-right: var(--spacing-3x);
  }
}

@media (max-width: 480px) {
  .card {
    margin-bottom: var(--spacing-2x);
    max-width: 100%;
  }
}

.card legend {
  font-weight: 700;
  font-size: 1.2rem;
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: var(--spacing-2x);
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: var(--spacing-2x);
}

.card ul li:before {
  content: none;
}

.card ul li:last-child {
  margin-bottom: 0;
}

.card ul li a {
  text-decoration: none;
}
