body {
  background-color: var(--color-white);
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-7x) var(--spacing-4x);
}

.margin-bottom-6x {
  margin-bottom: var(--spacing-6x);
}

.margin-bottom-3x {
  margin-bottom: var(--spacing-3x);
}

.margin-right-3x {
  margin-right: var(--spacing-3x);
}

main {
  background-color: var(--color-gray-5);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* index related */

.colored-bg {
  background-color: var(--color-primary-10);
}

.colored-bg .wrapper div {
  border-left: 12px solid var(--color-primary-40);
  padding-left: var(--spacing-5x);
}

.related-info h2 {
  border-top: 1px solid var(--color-gray-20);
  margin: 0 0 var(--spacing-5x) 0;
  padding-top: var(--spacing-5x);
}

/* colored intro */

.colored-bg1 {
  background-color: var(--color-card1);
}

.colored-bg1 .wrapper div {
  border-left: 12px solid var(--color-card1-dark);
  padding-left: var(--spacing-5x);
}

.colored-bg1 h1 {
  color: var(--color-card1-dark);
}

.colored-bg2 {
  background-color: var(--color-card2);
}

.colored-bg2 .wrapper div {
  border-left: 12px solid var(--color-card2-dark);
  padding-left: var(--spacing-5x);
}

.colored-bg2 h1 {
  color: var(--color-card2-dark);
}

.colored-bg3 {
  background-color: var(--color-card3);
}

.colored-bg3 .wrapper div {
  border-left: 12px solid var(--color-card3-dark);
  padding-left: var(--spacing-5x);
}

.colored-bg3 h1 {
  color: var(--color-card3-dark);
}

.colored-bg4 {
  background-color: var(--color-card4);
}

.colored-bg4 .wrapper div {
  border-left: 12px solid var(--color-card4-dark);
  padding-left: var(--spacing-5x);
}

.colored-bg4 h1 {
  color: var(--color-card4-dark);
}

/* card */

.card {
  background-color: var(--color-white);
  padding: var(--spacing-6x);
  border-radius: 24px;
  margin-bottom: var(--spacing-6x);
}

.card h2 {
  margin-top: 0;
}

/* lists */

ol {
  margin: 32px 0 0 0;
  list-style: none;
  counter-reset: the-counter;
}

ol li {
  margin: var(--spacing-2x) 0 0 0;
  counter-increment: the-counter;
}

ol li::before {
  content: counter(the-counter) ". ";
  font-weight: 700;
  margin-right: var(--spacing-base);
}

ul {
  margin: var(--spacing-2x) 0 var(--spacing-3x) 0;
  padding-left: var(--spacing-5x);
  list-style: none;
}

ul li {
  margin: 0 0 var(--spacing-2x) 0;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.color1 li::before {
  color: var(--color-card1-dark);
}

.color2 li::before {
  color: var(--color-card2-dark);
}

.color3 li::before {
  color: var(--color-card3-dark);
}

.color4 li::before {
  color: var(--color-card4-dark);
}

/* images */

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* zero padding margins etc */

.zero-padding-bottom {
  padding-bottom: 0;
}

.zero-margin-bottom {
  margin-bottom: 0;
}
