body {
  background-color: var(--color-white);
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-7x) var(--spacing-4x);
}

.zero-padding-bottom {
  padding-bottom: 0;
}

.zero-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom-6x {
  margin-bottom: var(--spacing-6x);
}

.margin-bottom-3x {
  margin-bottom: var(--spacing-3x);
}

.margin-right-3x {
  margin-right: var(--spacing-3x);
}

main {
  background-color: var(--color-gray-5);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* index related */

.colored-bg {
  background-color: var(--color-primary-10);
}

.colored-bg .wrapper div {
  border-left: 12px solid var(--color-primary-40);
  padding-left: var(--spacing-5x);
}

.related-info h2 {
  border-top: 1px solid var(--color-gray-20);
  margin: 0 0 var(--spacing-5x) 0;
  padding-top: var(--spacing-5x);
}

/* .card {
  background-color: var(--color-white);
  padding: var(--spacing-6x);
  border-radius: 24px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card h2 {
  margin-top: 0;
}

.card .card-icon {
  margin-right: var(--spacing-3x);
}

.card span {
  display: inline-block;
  font-size: 3rem;
  background-color: var(--color-primary-10);
  padding: var(--spacing-2x);
  border-radius: 8px;
} */

/*
.related-info h2 {
  border-top: 1px solid var(--color-gray-20);
  margin: 0 0 var(--spacing-5x) 0;
  padding-top: var(--spacing-5x);
}

.related-info a.card {
  padding: var(--spacing-5x);
  flex-basis: 50%;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.related-info a img {
  width: 30px;
  margin-left: 16px;
}

.color1 {
  background-color: var(--color-card1);
}

.color2 {
  background-color: var(--color-card2);
}

.color3 {
  background-color: var(--color-card3);
}

.color4 {
  background-color: var(--color-card4);
}

.related-info .card span {
  background: none;
  font-size: 2rem;
  padding: 0;
  margin-right: var(--spacing-2x);
}

.card p {
  max-width: 100%;
} */

ol {
  margin: 32px 0 0 0;
  list-style: none;
  counter-reset: the-counter;
}

ol li {
  margin: 16px 0 0 0;
  counter-increment: the-counter;
}

ol li::before {
  content: counter(the-counter) ". ";
  font-weight: 700;
  margin-right: var(--spacing-base);
}
