body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-black);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: var(--spacing-4x);
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: var(--spacing-5x);
  margin-bottom: var(--spacing-3x);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: var(--spacing-4x);
  margin-bottom: var(--spacing-2x);
}

p {
  margin-bottom: var(--spacing-2x);
}

p:last-child {
  margin-bottom: 0;
}

.ingress p {
  font-size: 1.125rem;
  line-height: 1.7rem;
}

a:link {
  color: var(--color-primary-80);
}
a:visited {
  color: var(--color-primary-80);
}
a:hover {
  color: var(--color-negative);
}
a:active {
  background: var(--color-gray-10);
}
